* {
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    background-color: #4a2a2a;
    color: #fff;
}

.display {
    width: 430px;
    height: 150px;
    color: #ccc5c5;
    background-color: #604949;
    font-size: 30px;
    display: flex;
    justify-content: flex-end;
}

.display h3 {
    margin: 10px;
    padding-top: 80px;
}

.rechner {
    width: 430px;
    color: #ccc5c5;
    background-color: #4a2a2a;
    font-size: 30px;
    text-align: center;
}

table {
    border: 1px;
    border-style: dashed;
    border-color: #5c4c4c;
}

td {
    width: 80px;
    height: 80px;
    cursor: pointer;
    border: 1px;
    border-style: dashed;
    border-color: #5c4c4c;
}

.operand {
    background-color: #440101;
}

#erg {
    background-color: #3d0303;
}

